<div >
  <b-input-group>
      <b-form-input v-model="searchString" v-on:keyup.enter="onEnter" placeholder="Enter movie title here"></b-form-input>
      <template v-slot:append>
          <b-button @click="searchMovie()" :disabled="!searchString" variant="outline-primary">Search</b-button>
      </template>
  </b-input-group>

  <b-form-checkbox :disabled="!searchString" @change="searchMovie" switch class="mr-n2 search-option" v-model="shortPlot">Shorten Plot
    <span class="sr-only">Switch</span>
  </b-form-checkbox> 

  <div v-if="result || errFeedback" class="result">
    <div v-if="result"></div>
    <movie-block v-for="(movieId, index) in filteredIds" v-bind:key="movieId" :shortPlot="shortPlot" :movieId="movieId" v-if="index < 5"></movie-block>
  </div>
  <div v-if="errFeedback" class="error">
      <b-alert show dismissible variant="danger">{{errFeedback}}</b-alert>
  </div>
</div>